<div class="container">
  <h2 class="text-center">Welcome to your Mister Cocktail</h2>


  <div class="cards">
    <div class="card-category">
      <% @cocktails.each do |cocktail| %>
      <h2> <%= cocktail.name %> </h2>
      <p><%= link_to "More details", cocktail_path(cocktail) %></p>
      <% end %>
    </div>
  </div>
</div>
