<div class="container">
  <h2 class="text-center">Welcome to your Mister Cocktail</h2>

  <p></p>
  <div class="cards">
    <% @cocktails.each do |cocktail|  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/djcwoukgv/image/upload/v1597792127/samples/food/dessert.jpg')">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>

        </div>
    <% end %>
  </div>
</div>


