  <div class="container">
    <h2 class="text-center">Welcome to your Mister Cocktail</h2>
    <div class="cards">

      <div class="card">

        <% @cocktails.each do |cocktail| %>
        <h4> <%= cocktail.name %> </h4>
        <p>Lorem ipsum dolor sit amet.</p>
        <% end %>
      </div>

      <div class="card">

        <% @cocktails.each do |cocktail| %>
        <h4> <%= cocktail.name %> </h4>
        <p>Lorem ipsum dolor sit amet.</p>
        <% end %>
      </div>

      <div class="card">

        <% @cocktails.each do |cocktail| %>
        <h4> <%= cocktail.name %> </h4>

        <p>Lorem ipsum dolor sit amet.</p>
        <% end %>
      </div>

    </div>
  </div>
</body>




